body {
    /* background-image: url('Library.jpg'); */
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: Arial;
}

#title {
    font-size: 60px;
    font-weight: bold;
}

form {
    color: white;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    left: 40%;
    top: 20%;
    text-shadow: 3px 3px 5px rgb(71, 64, 54);
}

#togglePassword {
  text-shadow: 2px 2px 5px white;
  margin-left: -12%; 
  cursor: pointer; 
  color: black;
}
