{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <title>Admin home</title>

    <link rel="stylesheet" href="{% static 'css/admin_home.css' %}">
    <style>
        body {
            background-image: url("{% static 'images\Library.jpg' %}");
        }
    </style>


</head>

<body>

    <div class="bg-text">
        <p>Admin home page</p><br><br>
        <a href="{% url 'browse' %}"><input class="button2" type="button" value="Browse books" style="cursor: pointer;"></a>
        <a href="{% url 'addbook' %}"> <input class="button2" type="button" value="Add book" style="cursor: pointer;"></a>
        <a href="{% url 'borrowbook' %}"><input class="button2" type="button" value="Borrowed Books" style="cursor: pointer;"></a>
    </div>

</body>

</html>

{% endblock content %}