{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html>
{% load static %}

<head>
  <title>Update Password</title>
  <link rel="stylesheet" href="{% static 'css/update.css' %}">
  <style>
    body {
      background-image: url("{% static 'images\Library.jpg' %}");
    }
  </style>
  <script type="text/javascript">
    function insure() {
      alert("Password Updated!");
    }
  </script>
</head>

<body>

  <div class='accountPass'>

    <h2> Update password </h2>
    <hr id="line">
    <br><br>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" style='background-color: rgb(194, 167, 132); ' onclick="insure()">Update</button>
    </form>
  </div>

</body>

</html>

{% endblock content %}